.center {
    display: flex;
    flex-direction: column;
    max-width: 88%;

    height: 100%;

    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;

    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

body,
:root,
html,
.center {
    height: 100%;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.saving {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.button-group {
    display: flex;
    justify-content: space-around;
}

.button-group>button {
    font-size: .95em;
}

.form-group {
    justify-content: center;
    align-items: center;

    display: flex;
    flex-direction: column;
}

.form-group .group {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    width: 100%;
}

.left {
    flex: .5
}

.right {
    flex: 0.3
}

.form-group>button {
    width: 80%;
}

.space {
    margin-top: 1em;
}

.wrapper {
    display: grid;
    height: 100%;
    width: 100%;
}

.wrapper>div {
    grid-row: 1;
    grid-column: 1;
    height: 100%;
    width: 100%;
}

.wait {
    display: flex;
    justify-content: center;
    align-items: center;

    background: black;
    opacity: 50%;
    z-index: 99;
}