.center {
    display: flex;
    flex-direction: column;
    max-width: 80%;

    height: 100%;

    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}

body, :root, html, .center {
    height: 100%;
}

.center h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.saving {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.button-group {
    display: flex;
    justify-content: space-around;
}

.button-group > button {
    font-size: .95em;
}

.wrapper {
    display: grid;
}

.wrapper > div {
    grid-row: 1;
    grid-column: 1;
}

.wait {
    display: flex;
    justify-content: center;
    align-items: center;

    background: black;
    opacity: 50%;
    z-index: 99;
}